<html>
<head>
    <title>Socket IO</title>
    <script src="jquery-3.3.1.min.js"></script>
</head>
<body>
    <h1>Socket IO</h1>
    <script>
        $(document).ready(function () {
            alert('a');
        });    
    </script>
</body>
</html>